 <div class="container">
        <div class="form-container">
            <h2 class="form-title">COMPANY MASTER LIST</h2>

            <form id="advocateFeeManagement">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle text-center">
                        <thead class="table-light">
                            <tr>
                                <TH>SNo.</TH>
                                <th>COMPANY NAME </th>
                                <th>COMPANY ADDRESS</th>
                                <th>GST</th>
                                <th>PAN</th>
                                <th>PHONE NO.</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loopable Row Template -->
                            <!-- Sample Row: -->
                            <tr>
                                <td>1</td>
                                <td>ECHTTECH</td>
                                <td>main road, sector 9, vice city</td>
                                <td>457845784512</td>
                                <td>457845784512</td>
                                <td>9999999999</td>
                                <td><i class="edit-btn bi bi-pencil-square"></i></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>ECHTTECH</td>
                                <td>main road, sector 9, vice city</td>
                                <td>457845784512</td>
                                <td>457845784512</td>
                                <td>9999999999</td>
                                <td><i class="edit-btn bi bi-pencil-square"></i></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>ECHTTECH</td>
                                <td>main road, sector 9, vice city</td>
                                <td>457845784512</td>
                                <td>457845784512</td>
                                <td>9999999999</td>
                                <td><i class="edit-btn bi bi-pencil-square"></i></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>ECHTTECH</td>
                                <td>main road, sector 9, vice city</td>
                                <td>457845784512</td>
                                <td>457845784512</td>
                                <td>9999999999</td>
                                <td><i class="edit-btn bi bi-pencil-square"></i></td>
                            </tr>
                          

                        </tbody>
                    </table>
                </div>
            </form>
        </div>



    </div>