<!-- src/app/login/login.component.html -->
<div class="login-container">
  <h2>Advocate Master System</h2>
  <p>Sign in to your account</p>
  <form>
    <label>Email address</label>
    <input type="email" placeholder="you@example.com" required />
    
    <label>Password</label>
    <input type="password" placeholder="********" required />
    
    <button type="submit" routerLink="/dashboard">Sign in</button>
    <p class="signup">Don't have an account? <a href="#">Sign up</a></p>
  </form>
</div>
