<div class="container">
        <div class="form-container">
            <h2 class="form-title">ADVOCATE MASTER LIST</h2>

            <form id="advocateFeeManagement">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle text-center">
                        <thead class="table-light">
                            <tr>
                                <th>SNo.</th>
                                <th>NAME</th>
                                <th>PHONE NO</th>
                                <th>EMAIL</th>
                                <th>ADDRESS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loopable Row Template -->
                            <!-- Sample Row: -->
                            <tr>
                                <td>1</td>
                                <td>John Doe</td>
                                <td>4578457845</td>
                                <td></td>
                                <td>main road, sector 9, vice city</td>
                                <td><i class="edit-btn bi bi-pencil-square"></i></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>John Doe</td>
                                <td>4578457845</td>
                                <td></td>
                                <td>main road, sector 9, vice city</td>
                                <td><i class="edit-btn bi bi-pencil-square"></i></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>John Doe</td>
                                <td>4578457845</td>
                                <td></td>
                                <td>main road, sector 9, vice city</td>
                                <td><i class=" edit-btn bi bi-pencil-square"></i></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>John Doe</td>
                                <td>4578457845</td>
                                <td></td>
                                <td>main road, sector 9, vice city</td>
                                <td><i class="edit-btn bi bi-pencil-square"></i></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>



    </div>