   <div class="container">
        <div class="form-container">
            <h2 class="form-title">CHEQUE DEPOSIT MANAGEMENT</h2>

            <form id="chequeDepositeManagement">
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="cheque-amount" class="form-label">CHEQUE AMOUNT</label>
                            <input type="number" id="cheque-amount" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="cheque-date" class="form-label">CHEQUE DATE</label>
                            <input type="date" id="cheque-date" class="form-control" required>
                        </div>
                    </div>
                </div>


                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="cheque-number" class="form-label">CHEQUE NO</label>
                            <input type="number" id="cheque-number" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="bank-date" class="form-label">BANK DEPOSITE DATE</label>
                            <input type="date" id="bank-date" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="bank-return-date" class="form-label">BANK RETURN DATE</label>
                            <input type="date" id="bank-return-date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="memo-reason" class="form-label">MEMO REASON</label>
                            <input type="text" class="form-control" id="memo-reason" required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="remark" class="form-label">REMARK</label>
                    <input type="text" id="remark" class="form-control">
                </div>

                <!-- Form Buttons: Reset and Submit -->
                <div class="form-buttons">
                    <button type="submit" class="btn mx-2" style="background-color: #f03c02; color: white;">SUBMIT
                    </button>
                    <button type="reset" class="btn btn-reset ">RESET </button>
                </div>

            </form>
        </div>


        <div class="form-container mt-3">
            <h2 class="form-title">NOTICE MANAGEMENT</h2>

            <form id="noticeManagement">
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="notice-send" class="form-label">NOTICE SEND</label>
                            <input type="text" id="notice-send" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="pod-no" class="form-label">POD NO</label>
                            <input type="number" id="pod-no" class="form-control" required>
                        </div>
                    </div>
                </div>


                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="tracking-report" class="form-label">TRACKING REPORT</label>
                            <input type="text" id="tracking-report" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="bank-date" class="form-label">DELIVERY DATE</label>
                            <input type="date" id="bank-date" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="return-date" class="form-label">RETURN DATE</label>
                            <input type="date" id="return-date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="memo-reason" class="form-label">PAID/UNPAID</label>
                            <input type="text" class="form-control" id="memo-reason" required>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="petition-due-date" class="form-label">PETITION DUE DATE</label>
                            <input type="date" class="form-control" id="petition-due-date" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="case-file-date" class="form-label">CASE FILE DATE</label>
                            <input type="date" class="form-control" id="case-file-date" required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="notice-remark" class="form-label">REMARK</label>
                    <input type="text" class="form-control" id="notice-remark">
                </div>

                <!-- Form Buttons: Reset and Submit -->
                <div class="form-buttons">
                    <button type="submit" class="btn mx-2" style="background-color: #f03c02; color: white;">SUBMIT
                    </button>
                    <button type="reset" class="btn btn-reset ">RESET </button>
                </div>

            </form>
        </div>

    </div>